<div *ngIf="userName" class="col-lg-12 col-md-12" style="margin-top:20px;">
  <div class="col-lg-6">
    <h4>Update Candidate</h4>
  </div>
</div>

<div class="col-lg-6 col-md-6 col-xs-12 panel panel-default" style="padding:10px;">
    <form #CreateadminForm="ngForm">
        <div class="input-group sign-in-input" style="width:100%;margin-bottom:10px;">
            <label *ngIf="userName">Enter Army Number</label><input type="text" class="form-control" name="candArmyNum" [(ngModel)]="newCandidate.candArmyNum" placeholder="Enter Army Number" required>
        </div>
        <div class="input-group sign-in-input" style="width:100%;margin-bottom:10px;">
            <label *ngIf="userName">Enter Candidate Name</label><input type="text" class="form-control" name="candName" [(ngModel)]="newCandidate.candName" placeholder="Enter Candidate Name" required>
        </div>
        <!-- <div class="input-group sign-in-input" style="width:100%;margin-bottom:10px;">
          <input type="text" class="form-control" name="name" [(ngModel)]="newCandidate.name" placeholder="Enter Admin Name" required>
        </div> -->
        <!-- <div class="input-group mb-3" style="width:100%;margin-bottom:10px;">
          <select class="custom-select" id="inputGroupSelect01" name="appointment" [(ngModel)]="newAdmin.appointment" style="width:100%;padding:10px;" required>
            <option selected [value]="null">Select Position</option>
            <option *ngFor="let category of testCategories" [value]="category.id">
              {{category.catogiryName}}
            </option>
          </select>
        </div> -->
        <div class="input-group mb-3" style="width:100%;margin-bottom:10px;">
            <label *ngIf="userName">Select Rank Category</label>
            <select class="custom-select" id="inputGroupSelect01" name="rankCat" [(ngModel)]="newCandidate.rankCat" style="width:100%;padding:10px;" (change)="onRankCatChange(newCandidate.rankCat)" required>
            <option [value]="null || '' || undefined">Select Rank Category</option>
            <option *ngFor="let rakCat of allRankCategories" [value]="rakCat.id">
              {{rakCat.name}}
            </option>
          </select>
        </div>

        <div class="input-group mb-3" style="width:100%;margin-bottom:10px;">
            <label *ngIf="userName">Select Rank</label><select class="custom-select" id="inputGroupSelect01" name="rank" [(ngModel)]="newCandidate.rankId" style="width:100%;padding:10px;" (change)="onRankChange(newCandidate.rankId)" required>
            <option [value]="null || '' || undefined">Select Rank</option>
            <option *ngFor="let rank of allRanks" [value]="rank.id">
              {{rank.name}}
            </option>
          </select>
        </div>
        <div class="input-group mb-3" style="width:100%;margin-bottom:10px;">
            <label *ngIf="userName">Select Subunits</label>
            <select class="custom-select" id="inputGroupSelect01" name="subunitId" [(ngModel)]="newCandidate.subunitId" style="width:100%;padding:10px;"  (change)="onSubUnitChange(newCandidate.subunitId)" required>
              <option [value]="null || '' || undefined">Select Subunits</option>
              <option *ngFor="let subUnit of allSubUnits" [value]="subUnit.id">
                {{subUnit.name}}
              </option>
            </select>
          </div>
        <div *ngIf="userName" class="input-group sign-in-input" style="width:100%;margin-bottom:10px;">
            <label>Enter Age</label><input type="text" class="form-control" name="age" [(ngModel)]="newCandidate.age" placeholder="Enter Age" readonly>
        </div>
        <div class="col-lg-6">
          <div  class="input-group sign-in-input" style="width:100%;margin-bottom:10px;">
              <!-- <label *ngIf="userName">Select Date Of Birth</label> -->
              <mat-form-field class="width100 ">
                <input matInput [matDatepicker]="picker" placeholder="Select Date Of Birth"
                name="establishedDate" [max]="maxDate"
                [(ngModel)]="newCandidate.candDob" id="candDob" #candDob='ngModel'>
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" [disabled]="disableDate" #picker></mat-datepicker>
              </mat-form-field>
          </div>
          <div style="margin-bottom:10px;">
              <label *ngIf="userName">Select Gender</label>
            <div *ngFor="let gender of genders">
                <span>{{gender.name}} <input type="radio" class="" name="genderq" [(ngModel)]="newCandidate.genderCode" (change)="onSelectionChange(gender)" [value]="gender.value"></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div *ngIf="newCandidate.barcodeUrl" class="col-lg-4 col-md-4 col-xs-6">
            <img style="width:200px;height:150px;" [src]="newCandidate.barcodeUrl">
          </div>
        </div>

        <div class="col-lg-6 col-md-6 upload-box">
            <label>Upload Profile Picture</label>
            <input type="file" (change)="uploadDatasource($event)" name="datasourcelistdata" class="inputfile" 
            id="datasourcelistdata" accept=".png,.jpeg">
            <!-- <span *ngIf="fileName">{{fileName}}</span> -->
        </div>

        <div class="col-lg-6 col-lg-offset-3 col-xs-12" style="margin-top:15px;"> 
          <button *ngIf="!userName" class="btn text-center add-catbtn btn-fullwidth" [disabled]="!CreateadminForm.form.valid" (click)="createCandidate()">
            Add Candidate
          </button>
          <button *ngIf="userName" class="btn text-center add-catbtn btn-fullwidth" [disabled]="!CreateadminForm.form.valid" (click)="updateCandidate()">
            Update Candidate
          </button>
        </div>
    </form>
  </div>

  <div *ngIf="newCandidate.profilePic" class="col-lg-6 col-md-6 col-xs-12" style="padding: 200px 0px 0px 25px;;">
    <div class="col-lg-6 col-lg-offset-3" style="margin-top:30px;" >
      <img [src]="newCandidate.profilePic" style="width:200px;height:150px;">
    </div>
  </div>
