.reports-nav li a{
    color: #000;
}
.reports-nav li.active a{
    background: #2a2420;
    color: #fff;
}
.reports-nav>li>a:focus, .reports-nav>li>a:hover {
    background: #2a2420;
    color: #fff;
}