<div *ngIf="userName" class="col-lg-12 col-md-12" style="margin-top:20px;">
  <div class="col-lg-6">
    <h4>Update Candidate</h4>
  </div>

  <div class="col-lg-6" style="padding: 3px;">
    <a class="btn text-center btn-horizontal pull-right createadmin-btn" (click)="editToListView()">
      <span>X</span>
    </a>
  </div>

</div>

<div class="col-lg-12 col-md-12 col-xs-12 panel panel-default" style="padding: 10px 0px 10px 15px;">
  <form #CreateadminForm="ngForm">
    <div class="col-lg-8 col-md-8 col-xs-12 padding0">
      <div class="row margin0" *ngIf="userName">
        <button class="btn pull-right" *ngIf="editable" (click)="enableEditFields();">Edit</button>
        <button class="btn pull-right" *ngIf="!editable" (click)="enableEditFields();">X</button>
      </div>
      <div class="col-lg-6 col-md-6">
        <div>
          <mat-form-field class="width100">
            <input matInput placeholder="Enter Army Number" id="candArmyNum" name="candArmyNum" [(ngModel)]="newCandidate.candArmyNum"
              [disabled]="readOnly" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="width100">
            <mat-select name="rankCatgId" placeholder="Select Rank Category" [(ngModel)]="newCandidate.rankCatgId" (change)="onRankCatChange(newCandidate.rankCatgId)"
              [disabled]="editable" required>
              <mat-option *ngFor="let rakCat of allRankCategories;let i = index" [value]="rakCat.id">
                {{rakCat.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="width100">
            <mat-select name="subunitId" placeholder="Select Subunits" [(ngModel)]="newCandidate.subunitId" (change)="onSubUnitChange(newCandidate.subunitId)"
              [disabled]="editable" required>
              <mat-option *ngFor="let subUnit of allSubUnits;let i = index" [value]="subUnit.id">
                {{subUnit.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="width100 ">
            <input matInput [matDatepicker]="picker" [disabled]="readOnly" placeholder="Select Date Of Birth" name="establishedDate"
              [max]="maxDate" [(ngModel)]="newCandidate.candDob" id="candDob" #candDob='ngModel'>
            <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="readOnly"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" [disabled]="disableDate" #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <!-- <div class="col-lg-6 col-md-6 upload-box"> -->
          <label>Upload Profile Picture</label>
          <input type="file" (change)="uploadDatasource($event)" name="datasourcelistdata" class="inputfile" id="datasourcelistdata"
            [disabled]="editable" accept=".png,.jpeg">
          <!-- </div> -->
        </div>


      </div>
      <!-- end left -->

      <div class="col-lg-6 col-md-6">
        <div>
          <mat-form-field class="width100">
            <input matInput placeholder="Enter Candidate Name" id="candName" name="candName" [(ngModel)]="newCandidate.candName" [disabled]="readOnly"
              required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="width100">
            <mat-select name="rank" placeholder="Select Rank" [(ngModel)]="newCandidate.rankId" (change)="onRankChange(newCandidate.rankId)"
              [disabled]="rankEnable" required>
              <mat-option *ngFor="let rank of allRanks;let i = index" [value]="rank.id">
                {{rank.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="userName">
          <mat-form-field class="width100">
            <input matInput placeholder="Age" id="age" name="age" [(ngModel)]="newCandidate.age" [disabled]="readOnly">
          </mat-form-field>
        </div>

        <div>
          <!-- <div *ngFor="let gender of genders">
                <span>{{gender.name}} <input type="radio" class="" name="genderq" [(ngModel)]="newCandidate.genderCode" (change)="onSelectionChange(gender)" [value]="gender.value"></span>
            </div> -->

          <mat-radio-group class="example-radio-group" name="genderq" [disabled]="readOnly" [(ngModel)]="newCandidate.genderCode" (change)="onSelectionChange(newCandidate.genderCode)">
            <mat-radio-button style="margin-left:10px;" class="example-radio-button" *ngFor="let gender of genders" id={{gender.name}}
              [value]="gender.value">
              {{gender.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-xs-12 padding0">
        <div calss="col-lg-6 col-lg-offset-4  col-md-4 col-md-offset-4 col-xs-12 " style="margin-top:15px;">
          <button *ngIf="!userName" class="btn text-center add-catbtn pull-right" [disabled]="!CreateadminForm.form.valid" (click)="createCandidate()">
            Save Candidate
          </button>
          <button *ngIf="userName" class="btn text-center add-catbtn pull-right" [disabled]="!CreateadminForm.form.valid" (click)="editCandidate()">
            Update Candidate
          </button>
        </div>
      </div>
    </div>

  </form>

  <div class="col-lg-4 col-md-4 col-xs-12" *ngIf="userName">
    <div *ngIf="newCandidate.profilePic" class="candidate-pic col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <img style="height:150px;width:150px;border-radius:50%;" [src]="newCandidate.profilePic" alt="Candidate Profile Pic">
    </div>
    <div class="col-lg-12 col-md-12">
      <hr>
    </div>
    <div *ngIf="newCandidate.barcodeUrl" class="candidate-pic col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
      <img style="height:150px;width:225px;" [src]="newCandidate.barcodeUrl" alt="Candidate Profile Pic">
    </div>
  </div>
</div>

<div *ngIf="userName" class="col-lg-12 col-md-12" style="margin-top:1s0px;">
  <div class="col-lg-6">
    <h4>Candidate Performance</h4>
  </div>
</div>

<div class="col-lg-12 col-md-12 col-xs-12" style="padding: 10px 0px 10px 15px;" *ngIf="userName">
  <div class="col-lg-3 col-md-3 col-xs-12">
    <ul class="nav nav-tabs reports-nav">
      <li class="cursor-pointer" [ngClass]="{'active': tabF == 'weekly'}">
        <a data-toggle="tab" (click)="setWeeklyCandidateReports('weekly')">Weekly</a>
      </li>
      <li class="cursor-pointer" [ngClass]="{'active': tabF == 'monthly'}">
        <a data-toggle="tab" (click)="setWeeklyCandidateReports('monthly')">Monthly</a>
      </li>
      <li class="cursor-pointer" [ngClass]="{'active': tabF == 'yearly'}">
        <a data-toggle="tab" (click)="setWeeklyCandidateReports('yearly')">Yearly</a>
      </li>
      <!-- <li class="cursor-pointer"><a data-toggle="tab" (click)="setDateWise()">Date Wise</a></li> -->
    </ul>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-12">
    <mat-form-field class="width100 ">
      <input matInput [matDatepicker]="picker2" placeholder="From" name="startDate" [max]="maxDate" [(ngModel)]="sdate.startDate"
        id="candDob" #startDate='ngModel'>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" [disabled]="disableDate" #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-12">
    <mat-form-field class="width100 ">
      <input matInput [matDatepicker]="picker3" placeholder="To" name="endDate" [max]="maxDate" [(ngModel)]="sdate.endDate" id="endDate"
        #endDate='ngModel'>
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" [disabled]="disableDate" #picker3></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-12">
    <div>
      <button class="btn" (click)="setWeeklyCandidateReports()" [disabled]="sdate.endDate == null || sdate.startDate == null ">SetDates</button>
    </div>
  </div>
</div>

<div class="col-lg-12 col-md-12 panel panel-default" style="padding: 10px 0px 10px 15px;" *ngIf="userName">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-xs-12">
      <ul class="nav nav-tabs reports-nav">
        <li class="active cursor-pointer">
          <a data-toggle="tab" (click)="setCandidateBPETReports()">BPET</a>
        </li>
        <li class="cursor-pointer">
          <a data-toggle="tab" (click)="setCandidatePPETReports()">PPET</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-8 col-md-8 col-xs-12" *ngIf="showBpet">
      <ul class="nav nav-tabs reports-nav">
        <li class="cursor-pointer" *ngFor="let bType of BPETTestTypes;let i = index;" [ngClass]="{'active': selectedTab==i}">
          <a data-toggle="tab" *ngIf="bType" (click)="getBPETTestateReports(bType.id, i)">{{bType.testName}}</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12" *ngIf="!showBpet">
      <ul class="nav nav-tabs reports-nav">
        <li class="cursor-pointer" *ngFor="let pType of PPETTestTypes;let i = index;" [ngClass]="{'active': selectedTab==i}">
          <a data-toggle="tab" *ngIf="pType" (click)="getBPETTestateReports(pType.id, i)">{{pType.testName}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row" *ngIf="barGraphData.length > 0;else displayNoData">
    <div style="margin-top:20px">
      <ngx-charts-bar-vertical-stacked [view]="view" [scheme]="colorScheme" [results]="barGraphData" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
      </ngx-charts-bar-vertical-stacked>
    </div>
  </div>

  <div>
    <ng-template #displayNoData>
      <div style="padding:15px;">
        <h4>No Data Found</h4>
      </div>
    </ng-template>
  </div>


</div>
<!-- <div *ngIf="newCandidate.profilePic" class="col-lg-6 col-md-6 col-xs-12" style="padding: 200px 0px 0px 25px;;">
    <div class="col-lg-6 col-lg-offset-3" style="margin-top:30px;" >
      <img [src]="newCandidate.profilePic" style="width:200px;height:150px;">
    </div>
  </div> -->
