.reports-nav li a{
    color: #000;
}
.reports-nav li.active a{
    background: #2a2420;
    color: #fff;
}
.reports-nav>li>a:focus, .reports-nav>li>a:hover {
    background: #2a2420;
    color: #fff;
}
.createadmin-btn{
    padding: 6px 30px;
    background: #415438;
    border-radius: 0px;
    color: #fff;
    font-size: 14px;
}