.createadmin-btn{
    padding: 6px 30px;
    background: #415438;
    border-radius: 0px;
    color: #fff;
    font-size: 14px;
}
.table>thead>tr>th {
    border-bottom: 0;
}
.table>tbody>tr>td {
    border-top:0;
}
/* .box-border {
    height: 536px;
} */


/* .pagination li a,.pagination li span{
    border: 1px solid #ddd;
    border-radius: 0px !important;
    padding: 2px 12px;
} */