.reportHead{
    padding: 10px;
    background: #2a2420;
    color: #fff;
}

input[type='checkbox']:after 
{

    height: 15px;
    width: 15px;
    /* top: -2px; */
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid silver;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    cursor: pointer;

}
input[type='checkbox']:checked:after 
{
    background-color: #41533b;
}
.reports-nav li a{
    color: #000;
}
.reports-nav li.active a{
    background: #2a2420;
    color: #fff;
}
.reports-nav>li>a:focus, .reports-nav>li>a:hover {
    background: #2a2420;
    color: #fff;
}
.category{
    margin-top: 20px;
}